<style>
  :host ::ng-deep iframe {
    border-width: 0;
  }

  .start-button {
    margin-bottom: 8px;
  }

  .buttons-group {
    display: flex;
    margin-bottom: 12px;
  }

  .button-item {
    margin-right: 12px;
  }

  .buttom-dropdown {
    padding-top: 4px;
  }

  .editor-group {
    display: flex;
  }

  .editor-column {
    position: relative;
    flex: 1;
    transform: scaleX(1);
  }

  .editor-column-hidden {
    flex: 0;
    width: 0;
    transform: scaleX(0);
  }

  .preview-container {
    height: 80vh;
    background: #f0f0f0;
  }

  .preview-preblock {
    background: #f0f0f0;
    position: absolute;
    top: calc(80vh - 40px);
    height: 40px;
    width: calc(100% + 1px);
    text-align: center;
    line-height: 40px;
    font-weight: 500;
  }

  .topblock {
    top: 0;
  }

  .preview-loading {
    background: #f0f0f0;
    top: 40px;
    width: 100%;
    bottom: calc(80vh - 80px);
    position: absolute;
    text-align: center;
    padding-top: 20vh;
  }

  .model-slide-group {
    display: flex;
  }

  .model-slide-item1 {
    flex: 1;
  }

  .model-slide-item2 {
    flex: 2;
  }
</style>
<app-portal-layout>
  <div class="buttons-group">
    <button class="button-item" nz-button [nzType]="'primary'" (click)="showModal()">新建</button>
    <button class="button-item" nz-button [nzType]="showEditor?'primary':'default'" (click)="onEditorClick()">
      参数
    </button>
    <button class="button-item" nz-button [nzType]="showPreview?'primary':'default'" (click)="onPreviewClick()">
      预览
    </button>
    <div class="buttom-dropdown">
      <a nz-dropdown [nzDropdownMenu]="menu">
        查看NPM依赖
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li *ngFor="let dependency of lastDeptKvs" nz-menu-item>{{ dependency[0] }}: {{ dependency[1] }}</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <div class="editor-group">
    <div [class.editor-column-hidden]="!showEditor" class="editor-column">
      <textarea
        style="height: 80vh"
        rows="36"
        nz-input
        [(ngModel)]="pageConfigs"
        (ngModelChange)="onTextareaChange($event)"
      ></textarea>
    </div>
    <div [class.editor-column-hidden]="!showPreview" class="editor-column preview-container">
      <div #previewRender></div>
      <div class="preview-preblock">Preview</div>
      <div class="preview-preblock topblock">Preview</div>
      <div *ngIf="!vm" class="preview-loading">
        <nz-result [nzIcon]="'smile-twotone'" [nzTitle]="'页面预览正在启动，请稍候'"></nz-result>
      </div>
      <ng-template #previewTpl>
        <div class="preview-host-placeholder"></div>
      </ng-template>
    </div>
  </div>
</app-portal-layout>

<ng-template #modalContent>
  <div class="model-slide-group">
    <div class="model-slide-item1">
      <app-portal-module-list (onEntityCreate)="onEntityCreate($event)"></app-portal-module-list>
    </div>
    <div class="model-slide-item2" *ngIf="tempEntityData">
      <app-portal-entity-edit [model]="tempEntityData"></app-portal-entity-edit>
    </div>
  </div>
</ng-template>
