<app-portal-layout>
  <div class="buttons-group">
    <button class="button-item" nz-button [nzType]="'primary'" (click)="showModal()">新建</button>
    <button class="button-item" nz-button [nzType]="showEditor?'primary':'default'" (click)="onEditorClick()">
      参数
    </button>
    <button class="button-item" nz-button [nzType]="showPreview?'primary':'default'" (click)="onPreviewClick()">
      预览
    </button>
    <div class="buttom-dropdown">
      <a nz-dropdown [nzDropdownMenu]="menu">
        查看NPM依赖
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li *ngFor="let dependency of lastDeptKvs" nz-menu-item>{{ dependency[0] }}: {{ dependency[1] }}</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <div class="editor-group">
    <div [class.editor-column-hidden]="!showEditor" class="editor-column preview-trees">
      <!-- <textarea
        style="height: 80vh"
        rows="36"
        nz-input
        [(ngModel)]="pageConfigs"
        (ngModelChange)="onTextareaChange($event)"
      ></textarea> -->
      <app-portal-source-tree
        [context]="createContext"
        (onEntityClick)="editEntityOpenModal($event)"
      ></app-portal-source-tree>
    </div>
    <div [class.editor-column-hidden]="!showPreview" class="editor-column preview-container">
      <div #previewRender></div>
      <ng-container *ngTemplateOutlet="previewBottomBar"></ng-container>
      <ng-container *ngTemplateOutlet="previewTopBar"></ng-container>
      <ng-container *ngTemplateOutlet="previewLoading"></ng-container>
    </div>
  </div>
</app-portal-layout>

<ng-template #previewTpl>
  <div class="preview-host-placeholder"></div>
</ng-template>

<ng-template #previewBottomBar>
  <div class="preview-preblock">
    <div class="windows-logo">
      <i nz-icon nzType="windows" nzTheme="fill"></i>
    </div>
    <div class="windows-logo windows-search">
      <i nz-icon nzType="search" nzTheme="outline"></i>
      <span>Type here to search</span>
    </div>
  </div>
</ng-template>

<ng-template #previewTopBar>
  <div class="preview-preblock topblock">
    <div class="circle-mac green"></div>
    <div class="circle-mac yellow"></div>
    <div class="circle-mac red"></div>
  </div>
</ng-template>

<ng-template #previewLoading>
  <div *ngIf="!vm" class="preview-loading">
    <nz-result [nzIcon]="'smile-twotone'" [nzTitle]="'页面预览正在启动，请稍候'"></nz-result>
  </div>
</ng-template>

<ng-template #modalContent>
  <div *ngIf="tempEntityData" class="edit-goback" (click)="editGoBack()">
    <i nz-icon nzType="left" nzTheme="outline"></i>
    <span>后退</span>
  </div>
  <div class="model-slide-group">
    <div class="model-slide-selectlist" *ngIf="!tempEntityData">
      <app-portal-module-list (onEntityCreate)="onEntityCreate($event)"></app-portal-module-list>
    </div>
    <div class="model-slide-edit" *ngIf="tempEntityData">
      <app-portal-entity-edit
        [model]="tempEntityData"
        [context]="createContext"
        [parents]="parentPaths"
        (onComplete)="onEmit($event)"
      ></app-portal-entity-edit>
    </div>
  </div>
</ng-template>

<style>
  :host ::ng-deep iframe {
    border-width: 0;
  }

  .start-button {
    margin-bottom: 8px;
  }

  .buttons-group {
    display: flex;
    margin-bottom: 12px;
  }

  .button-item {
    margin-right: 12px;
  }

  .buttom-dropdown {
    padding-top: 4px;
  }

  .editor-group {
    display: flex;
  }

  .editor-column {
    position: relative;
    flex: 1;
    transform: scaleX(1);
  }

  .editor-column-hidden {
    flex: 0;
    width: 0;
    transform: scaleX(0);
  }

  .preview-trees {
    height: 80vh;
    overflow: hidden;
    /* overflow-y: auto; */
  }

  .preview-trees app-portal-source-tree {
    height: 100%;
    position: relative;
    overflow-y: auto;
  }

  .preview-container {
    height: 80vh;
    overflow: hidden;
    background: #f0f0f0;
  }

  .preview-preblock {
    display: flex;
    background: #f0f0f0;
    position: absolute;
    top: calc(80vh - 40px);
    height: 40px;
    width: calc(100% + 1px);
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    border-top: 1px solid #e6e6e6;
  }

  .topblock {
    top: 0;
    border-bottom: 1px solid #e6e6e6;
  }

  .preview-loading {
    background: #f0f0f0;
    top: 40px;
    width: 100%;
    bottom: calc(40px);
    position: absolute;
    text-align: center;
    padding-top: 20vh;
  }

  .model-slide-group {
    display: flex;
    height: 60vh;
  }

  .model-slide-selectlist {
    flex: 1;
    overflow-y: auto;
  }

  .model-slide-edit {
    flex: 1;
    overflow-y: auto;
    margin: -4px;
  }

  .edit-goback {
    display: inline-block;
    margin-left: -12px;
    margin-top: -24px;
    margin-bottom: 4px;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: 500;
    color: #1890ff;
    height: 36px;
  }

  .edit-goback i {
    margin-right: 4px;
    font-weight: 500;
    color: #1890ff;
  }

  .circle-mac {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-top: 12px;
  }

  .yellow {
    background: #ffa500;
  }

  .green {
    background: rgb(94, 182, 7);
  }

  .red {
    background: #ff4d4f;
  }

  .windows-logo {
    margin-top: -1px;
    width: 40px;
    height: 40px;
    color: #000;
    font-size: 18px;
    border: 1px solid #e0e0e0;
  }

  .windows-search {
    padding-left: 8px;
    border-left-width: 0;
    width: 240px;
    font-size: 15px;
    text-align: left;
    font-weight: 100;
    vertical-align: text-bottom;
  }

  .windows-search i {
    transform: rotateY(180deg);
    margin-right: 8px;
  }
</style>
