<div *ngIf="tree">
  <div class="section" *ngFor="let comp of tree.components">
    <ng-container *ngTemplateOutlet="importDecla; context: { model: comp, type: 'component' }"></ng-container>
  </div>
  <div class="section" *ngFor="let dire of tree.directives">
    <ng-container *ngTemplateOutlet="importDecla; context: { model: dire, type: 'directive' }"></ng-container>
  </div>
  <ng-container *ngTemplateOutlet="entityDecla; context: { model: tree.page, paths: undefined }"></ng-container>
</div>

<ng-template #importDecla let-model="model" let-type="type">
  <div class="import-decla">
    <i nz-icon [nzType]=" type === 'component' ? 'appstore': 'api' " nzTheme="outline"></i>
    <span [title]="model.id">{{ model.displayInfo.displayName }}</span>
  </div>
</ng-template>

<ng-template #entityDecla let-model="model" let-paths="paths">
  <div *ngIf="model" class="section" [class.not-root]="!!paths">
    <div class="entity-decla">
      <div class="entity-title">
        <div>
          <ng-container *ngTemplateOutlet="expandButton; context: { model: model }"></ng-container>
          <i nz-icon nzType="layout" nzTheme="outline"></i>
          <span [title]="model.id">{{ model.displayInfo.displayName }}</span>
        </div>
        <div class="entity-actions">
          <i nz-icon nzType="form" nzTheme="outline" (click)="onEntityEditClick(model, paths)"></i>
          <i
            nz-icon
            nzType="delete"
            nzTheme="outline"
            (click)="onEntityDeleteClick(model, paths)"
            class="delete-btn"
          ></i>
        </div>
      </div>
      <div class="entity-children" *ngIf="checkIfShowChildren(model)">
        <ng-container *ngFor="let childNode of model.children">
          <ng-container
            *ngTemplateOutlet="entityDecla; context: {
              model: childNode,
              paths: !paths? model.id: (paths + '#' + model.id)
            }"
          ></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #expandButton let-model="model">
  <i
    *ngIf="model.children && model.children.length > 0"
    nz-icon
    [nzType]="!model.displayInfo.expanded? 'plus-circle': 'minus-circle'"
    nzTheme="outline"
    (click)="onEntityExpand(model)"
  ></i>
  <i
    *ngIf="!model.children || model.children.length === 0"
    style="color: #888888"
    nz-icon
    nzType="stop"
    nzTheme="outline"
  ></i>
</ng-template>

<style>
  :host {
    display: block;
    border: 1px solid #ececec;
    background: #fafafa;
  }

  .section {
    margin: 8px;
  }

  .not-root {
    margin-right: -1px;
  }

  .import-decla {
    border: 1px solid #ececec;
    background: #fff;
    padding: 4px;
    cursor: pointer;
    transition: background 0.35s;
  }

  .import-decla:hover {
    background: #f6f6f6;
  }

  .entity-decla {
    border: 1px solid #ececec;
    background: #fff;
    padding: 0;
    cursor: pointer;
  }

  .import-decla i {
    margin-right: 4px;
  }

  .entity-title {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    transition: background 0.35s;
  }

  .entity-actions {
    padding-right: 4px;
  }

  .entity-title:hover {
    background: #f6f6f6;
  }

  .entity-title i {
    margin-right: 4px;
  }

  .entity-children {
    margin-top: 4px;
  }

  .delete-btn {
    transform: color 0.35s;
  }

  .delete-btn:hover {
    color: #ff4d4f;
  }
</style>
