<div *ngIf="tree">
  <ng-container *ngTemplateOutlet="importGroup; context: { enabled: true, type: 'component' }"></ng-container>
  <ng-container *ngTemplateOutlet="importGroup; context: { enabled: true, type: 'directive' }"></ng-container>
  <ng-container
    *ngTemplateOutlet="entityDecla; context: { model: tree.page, type: 'component', paths: undefined }"
  ></ng-container>
  <div *ngIf="!tree.page" class="empty-state">
    <nz-result nzIcon="meh-twotone" nzTitle="当前页面空无一物">
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="entityCreateClick(null, 'component')">点击创建页面根</button>
      </div>
    </nz-result>
  </div>
</div>

<ng-template #createModalContent>
  <div *ngIf="tempEntityData" class="edit-goback" (click)="editGoBack()">
    <i nz-icon nzType="left" nzTheme="outline"></i>
    <span>后退</span>
  </div>
  <div class="model-slide-group">
    <div class="model-slide-selectlist" *ngIf="!tempEntityData">
      <app-portal-module-list (onEntityCreate)="saveEntityTemp($event)"></app-portal-module-list>
    </div>
    <div class="model-slide-edit" *ngIf="tempEntityData">
      <app-portal-entity-edit
        [target]="tempEntityData"
        [context]="context"
        [parents]="tempParentPath || []"
        (onComplete)="receiveEmitEntity($event)"
      ></app-portal-entity-edit>
    </div>
  </div>
</ng-template>

<ng-template #editModalContent>
  <div *ngIf="tempEntityData" class="model-slide-group">
    <div class="model-slide-edit">
      <app-portal-entity-edit
        [target]="tempEntityData"
        [context]="context"
        [parents]="tempParentPath || []"
        (onComplete)="receiveEmitEntity($event)"
      ></app-portal-entity-edit>
    </div>
  </div>
</ng-template>

<ng-template #deleteModalContext>
  <div *ngIf="willDelete">
    <div>节点类型：{{ willDelete.displayInfo.displayName }}</div>
    <div>节点ID：{{ willDelete.id }}</div>
  </div>
</ng-template>

<ng-template #importGroup let-enabled="enabled" let-type="type">
  <div *ngIf="tree[type + 's'] && tree[type + 's'].length > 0" class="section">
    <div class="common-decla">
      <div class="common-title">
        <div>
          <ng-container
            *ngTemplateOutlet="expandButton; context: {
              model: null,
              enabled: enabled,
              type: type,
              expanded: type === 'component'? tree.compExpanded: tree.direExpanded
            }"
          ></ng-container>
          <i nz-icon [nzType]=" type === 'component' ? 'appstore': 'api' " nzTheme="outline"></i>
          <span>{{ type === 'component'? '组件': '指令' }}</span>
        </div>
      </div>
      <ng-container *ngIf="type === 'component'? tree.compExpanded: tree.direExpanded">
        <div class="section" *ngFor="let comp of tree[type + 's']">
          <ng-container *ngTemplateOutlet="importDecla; context: { model: comp, type: type }"></ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #importDecla let-model="model" let-type="type">
  <div class="import-decla">
    <i nz-icon [nzType]=" type === 'component' ? 'appstore': 'api' " nzTheme="outline"></i>
    <span [title]="model.id">{{ model.displayInfo.displayName }}</span>
  </div>
</ng-template>

<ng-template #entityDecla let-model="model" let-paths="paths" let-type="type">
  <div *ngIf="model" class="section" [class.not-root]="!!paths">
    <div class="common-decla">
      <div class="common-title">
        <ng-container *ngTemplateOutlet="entityTitleContent; context: { model: model }"></ng-container>
        <ng-container
          *ngTemplateOutlet="entityActions; context: { model: model, paths: paths, type: type }"
        ></ng-container>
      </div>
      <div class="entity-children" *ngIf="checkIfShowChildren(model)">
        <ng-container *ngFor="let childNode of model.children">
          <ng-container
            *ngTemplateOutlet="entityDecla; context: {
              model: childNode,
              paths: !paths? model.id: (paths + '#' + model.id),
              type: 'component'
            }"
          ></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #entityTitleContent let-model="model">
  <div>
    <ng-container
      *ngTemplateOutlet="expandButton; context: {
        model: model,
        enabled: model.children && model.children.length > 0,
        expanded: !!model.displayInfo.expanded,
        type: 'entity'
      }"
    ></ng-container>
    <i nz-icon nzType="layout" nzTheme="outline"></i>
    <span [title]="model.id">{{ model.displayInfo.displayName }}</span>
  </div>
</ng-template>

<ng-template #entityActions let-model="model" let-paths="paths" let-type="type">
  <div class="entity-actions">
    <i nz-icon nzType="plus-square" nzTheme="outline" (click)="entityCreateClick(model, type, paths)"></i>
    <i nz-icon nzType="form" nzTheme="outline" (click)="entityEditClick(model, type, paths)"></i>
    <i nz-icon nzType="delete" nzTheme="outline" (click)="entityDeleteClick(model, type, paths)" class="delete-btn"></i>
  </div>
</ng-template>

<ng-template #expandButton let-model="model" let-type="type" let-enabled="enabled" let-expanded="expanded">
  <i
    *ngIf="enabled"
    nz-icon
    [nzType]="!expanded? 'plus-circle': 'minus-circle'"
    nzTheme="outline"
    (click)="type === 'entity'? entityExpand(model): groupExpand(type)"
  ></i>
  <i *ngIf="!enabled" style="color: #888888" nz-icon nzType="stop" nzTheme="outline"></i>
</ng-template>

<style>
  :host {
    display: block;
    border: 1px solid #ececec;
    background: #fafafa;
  }

  .empty-state {
    padding-top: 20vh;
  }

  .section {
    margin: 8px;
  }

  .not-root {
    margin-right: -1px;
  }

  .import-decla {
    border: 1px solid #ececec;
    background: #fff;
    padding: 4px;
    cursor: pointer;
    transition: background 0.35s;
  }

  .import-decla:hover {
    background: #f6f6f6;
  }

  .common-decla {
    border: 1px solid #ececec;
    background: #fff;
    padding: 0;
    cursor: pointer;
  }

  .import-decla i {
    margin-right: 4px;
  }

  .common-title {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    transition: background 0.35s;
  }

  .entity-actions {
    padding-right: 4px;
  }

  .common-title .entity-actions {
    visibility: hidden;
  }

  .common-title:hover {
    background: #f6f6f6;
  }

  .common-title:hover .entity-actions {
    visibility: visible;
  }

  .common-title i {
    margin-right: 4px;
  }

  .entity-children {
    margin-top: 4px;
  }

  .delete-btn {
    transform: color 0.35s;
  }

  .delete-btn:hover {
    color: #ff4d4f;
  }

  .model-slide-group {
    display: flex;
    height: 60vh;
  }

  .model-slide-selectlist {
    flex: 1;
    overflow-y: auto;
  }

  .model-slide-edit {
    flex: 1;
    overflow-y: auto;
    margin: -4px;
  }

  .edit-goback {
    display: inline-block;
    margin-left: -12px;
    margin-top: -24px;
    margin-bottom: 4px;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: 500;
    color: #1890ff;
    height: 36px;
  }

  .edit-goback i {
    margin-right: 4px;
    font-weight: 500;
    color: #1890ff;
  }
</style>
